<!doctype html>
<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

  <title>eHealth applicaiton for PD hospital</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
</head>


<body>
<div class="container">

  <div class="page-header text-center">
    <h1>Buenos Dias Doctor</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
    <div class="row" align="center"> 
<input type="button" name="answer" value="Patient1, data1" onclick="showdata1()" />
<input type="button" name="answer" value="Patient1, data3" onclick="showdata3()" />
<input type="button" name="answer" value="Patient1, data5" onclick="showdata5()" />

<!-- for Data 1 -->

<div id="data1XY" align="left" style="width:600px;height:250px;display: none;"></div>

<div id="data1Xt" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data1Yt" align="left" style="width:600px;height:250px;display: none;"></div>
<!-- for Data 3 -->

<div id="data3XY" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data3Xt" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data3Yt" align="left" style="width:600px;height:250px;display: none;"></div>
<!-- for Data 5 -->

<div id="data5XY" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data5Xt" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data5Yt" align="left" style="width:600px;height:250px;display: none;"></div>


<script type="text/javascript">
  function showdata1() {
    document.getElementById('data1XY').style.display = "block";
    document.getElementById('data1Xt').style.display = "block";
    document.getElementById('data1Yt').style.display = "block";

    document.getElementById('data3XY').style.display = "none";
    document.getElementById('data3Xt').style.display = "none";
    document.getElementById('data3Yt').style.display = "none";

    document.getElementById('data5XY').style.display = "none";
    document.getElementById('data5Xt').style.display = "none";
    document.getElementById('data5Yt').style.display = "none";
    }

  function showdata3() {
    document.getElementById('data1XY').style.display = "none";
    document.getElementById('data1Xt').style.display = "none";
    document.getElementById('data1Yt').style.display = "none";

    document.getElementById('data3XY').style.display = "block";
    document.getElementById('data3Xt').style.display = "block";
    document.getElementById('data3Yt').style.display = "block";

    document.getElementById('data5XY').style.display = "none";
    document.getElementById('data5Xt').style.display = "none";
    document.getElementById('data5Yt').style.display = "none";
    }

  function showdata5() {
    document.getElementById('data3XY').style.display = "none";
    document.getElementById('data3Xt').style.display = "none";
    document.getElementById('data3Yt').style.display = "none";

    document.getElementById('data5XY').style.display = "none";
    document.getElementById('data5Xt').style.display = "none";
    document.getElementById('data5Yt').style.display = "none";

    document.getElementById('data5XY').style.display = "block";
    document.getElementById('data5Xt').style.display = "block";
    document.getElementById('data5Yt').style.display = "block";
    }
  // for Data 1
  Plotly.d3.csv('data1.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      title: 'Patient1, Data1, X vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      title: 'Patient1, Data1, time vs X',
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      title: 'Patient1, Data1, time vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };
    Plotly.plot(document.getElementById('data1XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data1Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data1Yt'), [traceYt], layoutYt, {showLink: false});
});
   

   // plots for Data 3

   Plotly.d3.csv('data3.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      title: 'Patient1, Data3, X vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      title: 'Patient1, Data3, time vs X',
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      title: 'Patient1, Data3, time vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };
    Plotly.plot(document.getElementById('data3XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data3Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data3Yt'), [traceYt], layoutYt, {showLink: false});
});

// plots for Data 5

Plotly.d3.csv('data5.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      title: 'Patient1, Data5, X vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      title: 'Patient1, Data5, time vs X',
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      title: 'Patient1, Data5, time vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };
    Plotly.plot(document.getElementById('data5XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data5Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data5Yt'), [traceYt], layoutYt, {showLink: false});
}); 
</script>
</div>
</body>
</html>
