<!doctype html>
<html>
<head>
	<title>eHealth applicaiton for PD hospital</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Welcome Facebooker/Physician</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		 <table class="table table-striped table-bordered table-responsive">
		 	<thead align="center", class="blue-grey lighten-4">
		    	<tr>
		    		<th>#</th>
			     	<td>Patient_ID</td>
				<td>Med_ID</td>
				<td>Therapy_List_ID</td>
			      	<td>Therapy_ID</td>
				<td>Test_ID</td>
			      	<td>Test_session_ID</td>
				<td>Test_Type_ID</td>
			       	<td>Data_Link</td>
		    	</tr>
		    </thead>
		    <tbody align="center">
		        <tr class="table-info">
		          	<th scope="row">1</th>
		           	<td>3</td>
				<td>1</td>
				<td>1</td>
			      	<td>1</td>
				<td>1</td>
			      	<td>1</td>
				<td>1</td>
			       	<td><a href= "http://vhost11.lnu.se:20090/assig2/data1.csv" </a> Data Link</td>
		        </tr>
		        <tr class="table-info">
		            	<th scope="row">2</th>
		           	<td>3</td>
				<td>1</td>
				<td>1</td>
			      	<td>1</td>
				<td>1</td>
			      	<td>2</td>
				<td>2</td>
			       	<td><a href= "http://vhost11.lnu.se:20090/assig2/data2.csv" </a> Data Link</td>
		        </tr>
			<tr class="table-info">
		            	<th scope="row">3</th>
		           	<td>3</td>
				<td>1</td>
				<td>1</td>
			      	<td>1</td>
				<td>2</td>
			      	<td>3</td>
				<td>1</td>
			       	<td><a href= "http://vhost11.lnu.se:20090/assig2/data3.csv" </a> Data Link</td>
		        </tr>
			<tr class="table-info">
		            	<th scope="row">4</th>
		           	<td>3</td>
				<td>1</td>
				<td>1</td>
			      	<td>1</td>
				<td>2</td>
			      	<td>4</td>
				<td>2</td>
			       	<td><a href= "http://vhost11.lnu.se:20090/assig2/data4.csv" </a> Data Link</td>
		        </tr>
			<tr class="table-info">
		           	<th scope="row">5</th>
		           	<td>4</td>
				<td>1</td>
				<td>1</td>
			      	<td>2</td>
				<td>3</td>
			      	<td>5</td>
				<td>1</td>
			       	<td><a href= "http://vhost11.lnu.se:20090/assig2/data5.csv" </a> Data Link</td>
		        </tr>
			<tr class="table-info">
		            	<th scope="row">6</th>
		           	<td>4</td>
				<td>1</td>
				<td>1</td>
			      	<td>2</td>
				<td>3</td>
			      	<td>6</td>
				<td>2</td>
			       	<td><a href= "http://vhost11.lnu.se:20090/assig2/data6.csv" </a> Data Link</td>
		        </tr>
		    </tbody>
		</table>	
	</div>

	
</div>
</body>
</html>
