<!doctype html>
<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->

  <title>eHealth applicaiton for PD hospital</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
</head>


<body>
  <script src="//cdn.trackduck.com/toolbar/prod/td.js" async data-trackduck-id="59e4fe2131124d3462e85468"></script>
<div class="container">

  <div class="page-header text-center">
    <h1>Guten Tag Herr. Researcher</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
  <div class= row align="center"> 

    <div class= col-md-6> 
  <!-- Map-->
      <h3>Click on the marker to see the patient data</h3>
      <div id="map" style="width:100%;height:400px;"></div><br />
      </div>

    <div class= col-md-6>
<!-- Buttons-->
  
      <div id="data1" style="display: none; float: left;">
      <input type="button" name="answer" value="Patient1, data1" onclick="showdata1()" />
      </div>
      <div id="data3" style="display: none; float: left;">
      <input type="button" name="answer" value="Patient1, data3" onclick="showdata3()" />
      </div>
      <div id="data5" style="display: none; float: left;">
      <input type="button" name="answer" value="Patient1, data5" onclick="showdata5()" />
      </div><br /><br />

    
 <!-- for Data 1 -->
<div id="data1XY" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data1Xt" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data1Yt" align="left" style="width:600px;height:250px;display: none;"></div>
<!-- for Data 3 -->
<div id="data3XY" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data3Xt" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data3Yt" align="left" style="width:600px;height:250px;display: none;"></div>
<!-- for Data 5 -->
<div id="data5XY" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data5Xt" align="left" style="width:600px;height:250px;display: none;"></div>
<div id="data5Yt" align="left" style="width:600px;height:250px;display: none;"></div>

</div>
</div>
</div>
</body>

<script type="text/javascript">
  function showdata1() {
    document.getElementById('data1XY').style.display = "block";
    document.getElementById('data1Xt').style.display = "block";
    document.getElementById('data1Yt').style.display = "block";

    document.getElementById('data3XY').style.display = "none";
    document.getElementById('data3Xt').style.display = "none";
    document.getElementById('data3Yt').style.display = "none";

    document.getElementById('data5XY').style.display = "none";
    document.getElementById('data5Xt').style.display = "none";
    document.getElementById('data5Yt').style.display = "none";
    }

  function showdata3() {
    document.getElementById('data1XY').style.display = "none";
    document.getElementById('data1Xt').style.display = "none";
    document.getElementById('data1Yt').style.display = "none";

    document.getElementById('data3XY').style.display = "block";
    document.getElementById('data3Xt').style.display = "block";
    document.getElementById('data3Yt').style.display = "block";

    document.getElementById('data5XY').style.display = "none";
    document.getElementById('data5Xt').style.display = "none";
    document.getElementById('data5Yt').style.display = "none";
    }

  function showdata5() {
    document.getElementById('data3XY').style.display = "none";
    document.getElementById('data3Xt').style.display = "none";
    document.getElementById('data3Yt').style.display = "none";

    document.getElementById('data5XY').style.display = "none";
    document.getElementById('data5Xt').style.display = "none";
    document.getElementById('data5Yt').style.display = "none";

    document.getElementById('data5XY').style.display = "block";
    document.getElementById('data5Xt').style.display = "block";
    document.getElementById('data5Yt').style.display = "block";
    }


  // plots for Data 1
  Plotly.d3.csv('data1.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      title: 'Patient1, Data1, X vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      title: 'Patient1, Data1, time vs X',
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      title: 'Patient1, Data1, time vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };
    Plotly.plot(document.getElementById('data1XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data1Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data1Yt'), [traceYt], layoutYt, {showLink: false});
});
   

   // plots for Data 3

   Plotly.d3.csv('data3.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      title: 'Patient1, Data3, X vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      title: 'Patient1, Data3, time vs X',
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      title: 'Patient1, Data3, time vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };
    Plotly.plot(document.getElementById('data3XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data3Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data3Yt'), [traceYt], layoutYt, {showLink: false});
});

// plots for Data 5

Plotly.d3.csv('data5.csv', function(rows){
    var traceXY = {
      type: 'scatter',                    // set the chart type
      mode: 'markers',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXY = {
      title: 'Patient1, Data5, X vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "X"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

    var traceXt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['X'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutXt = {
      title: 'Patient1, Data5, time vs X',
      yaxis: {title: "X"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };

     var traceYt = {
      type: 'scatter',                    // set the chart type
      mode: 'lines',                      // connect points with lines
      x: rows.map(function(row){          // set the x-data
        return row['time'];
      }),
      y: rows.map(function(row){          // set the x-data
        return row['Y'];
      }),
      line: {                             // set the width of the line.
        width: 1
      },
      
    };

    var layoutYt = {
      title: 'Patient1, Data5, time vs Y',
      yaxis: {title: "Y"},       // set the y axis title
      xaxis: {title: "time"},
      //   showgrid: false,                  // remove the x-axis grid lines
      //   tickformat: "%B, %Y"              // customize the date format to "month, day"
      // },
      margin: {                           // update the left, bottom, right, top margin
        l: 40, b: 50, r: 10, t: 40
      }
    };
    Plotly.plot(document.getElementById('data5XY'), [traceXY], layoutXY, {showLink: false});
    Plotly.plot(document.getElementById('data5Xt'), [traceXt], layoutXt, {showLink: false});
    Plotly.plot(document.getElementById('data5Yt'), [traceYt], layoutYt, {showLink: false});
}); 
</script>

<script type="text/javascript">
        var user = "";
        var lat = "";
        var long = "";
        var myurl = "http://vhost11.lnu.se:20090/final/getData.php?table=User&id=3";
        var proxy = 'https://cors-anywhere.herokuapp.com/';
        $(document).ready(function () {
          $.ajax({
            type: "GET",
            url: proxy+myurl,
            cache: false,
            dataType: "xml",
            success: function(xml) {
              $(xml).find('userID').each(function(){
                user = $(this).find("username").text()
                lat = $(this).find("Lat").text()
                         //alert(lat);
                long = $(this).find("Long").text()
                initialize();
              });
            }
          });
        });

        function initialize() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(lat,long),
            zoom: 4
        });
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            map: map
        });
        var infowindow = new google.maps.InfoWindow({
        content: user
        });
        infowindow.open(map,marker);

        google.maps.event.addListener(marker, 'click', function (marker, i) {
            if ($('#data1').css('display') == 'block') {
                $('#data1').css('display', 'none');
            } else {
                $('#data1').css('display', 'block');
            }
            if ($('#data3').css('display') == 'block') {
                $('#data3').css('display', 'none');
            } else {
                $('#data3').css('display', 'block');
            }
            if ($('#data5').css('display') == 'block') {
                $('#data5').css('display', 'none');
            } else {
                $('#data5').css('display', 'block');
            }
        });
    }
    //google.maps.event.addDomListener(window, 'load', initialize);
      
</script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs8-c-gPASX0orxWrhwhToPG-Y9b8-6sU&callback=initialize"></script>


<!-- <script>
        function myMap() {
        var myCenter = new google.maps.LatLng(59.6567,16.6709);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 5};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position:myCenter});
        marker.setMap(map);
        var infowindow = new google.maps.InfoWindow({
        content: "PatientID=3"
        });
        infowindow.open(map,marker);
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs8-c-gPASX0orxWrhwhToPG-Y9b8-6sU&callback=myMap"></script> -->



</html>
